In [33]:
import pandas as pd
import gmaps
import gmaps.datasets
import geocoder
import os
import requests
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import re
from sklearn.preprocessing import normalize 

gmaps.configure(api_key="AIzaSyDGY_yxPIuGcTPulSUD3fyX1ToREI8Als0") # Your Google API key
os.environ["GOOGLE_API_KEY"] = "AIzaSyDGY_yxPIuGcTPulSUD3fyX1ToREI8Als0"
%matplotlib notebook

In [34]:
nyc = pd.read_csv("nyc-rolling-sales.csv")
nyc = nyc[nyc["SALE PRICE"]!=" -  "]
nyc.ADDRESS = nyc.ADDRESS.apply(lambda a: re.sub(" +", " ", a))
nyc["Full Adress"] = nyc.ADDRESS + "," + nyc.NEIGHBORHOOD
nyc = nyc.head(200) #200 entradas == 2 minutos
nyc["Latlng"] = "NID"
vararray = []
with requests.Session() as session:
    for x in nyc.values:
        try:
            latlong = geocoder.osm(x[-2], session=session).latlng
        if latlong == None:
            latlong = geocoder.google(x[-2], session=session).latlng
        vararray.append(latlong) 
        #print(latlong)
nyc.Latlng = vararray
preprolen = len(nyc)
nyc = nyc.dropna(axis=0, subset=["Latlng"])
postprolen = len(nyc)
print("Eficiência do geocoding : " + str(postprolen/preprolen))

IndentationError: expected an indented block (<ipython-input-34-d88e0a59c07d>, line 14)

In [27]:
geocoder.osm("311 EAST 3RD STREET, ALPHABET CITY").latlng

[40.7213697101449, -73.9796546666667]

In [ ]:
geocoder

In [29]:
len(nyc)

145

In [23]:
locations = nyc.Latlng.apply(lambda x: (x[0],x[1])).values

fig = gmaps.Map()
RealEstateLocations = gmaps.symbol_layer(locations, fill_color="green", stroke_color="green", scale=2)
fig.add_layer(RealEstateLocations)
normweigths = nyc["SALE PRICE"].values.astype("float")/ np.linalg.norm(nyc["SALE PRICE"].values.astype("float"))
fig.add_layer(gmaps.heatmap_layer(locations=locations, weights=normweigths, point_radius=25))

fig

Map(configuration={'api_key': 'AIzaSyDGY_yxPIuGcTPulSUD3fyX1ToREI8Als0'}, data_bounds=[(40.71411226075179, -74…

In [24]:
nyc

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,Full Adress,Latlng
16,20,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,40,,C6,"327 EAST 3 STREET, 2E",...,0,-,-,1920,2,C6,423000,2017-07-14 00:00:00,"327 EAST 3 STREET, 2E,ALPHABET CITY","[40.720863, -73.9784164]"
19,23,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,49,,C6,"311 EAST 3RD, 22",...,0,-,-,1920,2,C6,510000,2017-08-17 00:00:00,"311 EAST 3RD, 22,ALPHABET CITY","[40.7212244, -73.97893959999999]"
22,26,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,376,14,,C6,244 EAST 7TH STREET,...,24,4131,16776,1928,2,C6,11900000,2017-06-21 00:00:00,"244 EAST 7TH STREET,ALPHABET CITY","[40.723683, -73.9780799]"
25,29,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,376,16,,C6,"248 EAST 7TH STREET, 2",...,0,-,-,1928,2,C6,404000,2017-07-07 00:00:00,"248 EAST 7TH STREET, 2,ALPHABET CITY","[40.7235582, -73.9781801]"
26,30,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,376,19,,C6,"254 EAST 7TH STREET, 4",...,0,-,-,1910,2,C6,535000,2017-06-21 00:00:00,"254 EAST 7TH STREET, 4,ALPHABET CITY","[40.7234098, -73.9778733]"
27,31,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2C,377,54,,C6,"267 EAST 7 ST, 4",...,0,-,-,1920,2,C6,1400000,2017-08-04 00:00:00,"267 EAST 7 ST, 4,ALPHABET CITY","[40.7235678, -73.97724699999999]"
28,32,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2C,377,60,,C6,"255 EAST 7TH STREET, 3F",...,0,-,-,1900,2,C6,866000,2017-01-09 00:00:00,"255 EAST 7TH STREET, 3F,ALPHABET CITY","[40.7238194, -73.9777841]"
29,33,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,379,15,,C6,"414 EAST 10TH STREET, 4E",...,0,-,-,1930,2,C6,355000,2017-04-18 00:00:00,"414 EAST 10TH STREET, 4E,ALPHABET CITY","[40.7253327, -73.97681089999999]"
33,37,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2C,389,50,,C6,"621 EAST 6TH STREET, 6",...,0,-,-,1920,2,C6,450000,2016-12-02 00:00:00,"621 EAST 6TH STREET, 6,ALPHABET CITY","[40.72409080000001, -73.9803629]"
34,38,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2C,389,50,,C6,"621 EAST 6TH STREET, 10",...,0,-,-,1920,2,C6,450000,2017-01-31 00:00:00,"621 EAST 6TH STREET, 10,ALPHABET CITY","[40.72409080000001, -73.9803629]"
35,39,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,390,55,,C6,"199 EAST 7TH STREET, 2C",...,0,-,-,1935,2,C6,810000,2017-06-28 00:00:00,"199 EAST 7TH STREET, 2C,ALPHABET CITY","[40.724872, -73.980114]"
37,41,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,391,14,,C6,"618 EAST 9TH STREET, 2 E",...,0,-,-,1910,2,C6,300000,2017-08-24 00:00:00,"618 EAST 9TH STREET, 2 E,ALPHABET CITY","[40.7257243, -73.9795547]"
39,43,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,391,48,,C6,"323 EAST 8TH STREET, 2A",...,0,-,-,1910,2,C6,579000,2017-06-27 00:00:00,"323 EAST 8TH STREET, 2A,ALPHABET CITY","[40.7252989, -73.9794087]"
40,44,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,391,57,,C6,"303 EAST 8TH STREET, 3F",...,0,-,-,1900,2,C6,1500000,2017-03-17 00:00:00,"303 EAST 8TH STREET, 3F,ALPHABET CITY","[40.725589, -73.9800209]"
43,47,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,394,52,,C6,"633 EAST 11TH STREET, 23",...,0,-,-,1937,2,C6,410000,2017-01-11 00:00:00,"633 EAST 11TH STREET, 23,ALPHABET CITY","[40.727011, -73.977794]"
44,48,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,394,52,,C6,"633 EAST 11TH STREET, 19",...,0,-,-,1937,2,C6,500000,2017-04-21 00:00:00,"633 EAST 11TH STREET, 19,ALPHABET CITY","[40.727011, -73.977794]"
45,49,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,394,52,,C6,"633 E 11TH ST, 17",...,0,-,-,1937,2,C6,510000,2017-06-29 00:00:00,"633 E 11TH ST, 17,ALPHABET CITY","[40.727011, -73.977794]"
47,51,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,396,20,,C6,"634 EAST 14TH STREET, 4",...,0,-,-,1920,2,C6,789019,2017-02-02 00:00:00,"634 EAST 14TH STREET, 4,ALPHABET CITY","[40.7285626, -73.9766276]"
50,54,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,396,20,,C6,"632 EAST 14TH STREET, 3",...,0,-,-,1920,2,C6,425000,2017-04-13 00:00:00,"632 EAST 14TH STREET, 3,ALPHABET CITY","[40.7286844, -73.9766501]"
51,55,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,396,20,,C6,"626 EAST 14TH STREET, 9",...,0,-,-,1920,2,C6,490000,2017-06-29 00:00:00,"626 EAST 14TH STREET, 9,ALPHABET CITY","[40.72879959999999, -73.9769061]"
53,57,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,397,25,,C6,"185 EAST 2ND STREET, 2B",...,0,-,-,1915,2,C6,415000,2017-07-17 00:00:00,"185 EAST 2ND STREET, 2B,ALPHABET CITY","[40.722149, -73.984376]"
54,58,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,398,58,,C6,"162 EAST 2ND STREET, 3A",...,0,-,-,1950,2,C6,420000,2016-12-06 00:00:00,"162 EAST 2ND STREET, 3A,ALPHABET CITY","[40.7228235, -73.98509]"
55,59,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,398,58,,C6,"162 EAST 2ND STREET, 1C",...,0,-,-,1950,2,C6,435000,2017-07-13 00:00:00,"162 EAST 2ND STREET, 1C,ALPHABET CITY","[40.7228235, -73.98509]"
56,60,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,400,45,,C6,"225 EAST 4TH STREET, 1",...,0,-,-,1937,2,C6,575000,2017-05-17 00:00:00,"225 EAST 4TH STREET, 1,ALPHABET CITY","[40.7237738, -73.9830259]"
57,61,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,400,45,,C6,"225 EAST 4TH STREET, 20",...,0,-,-,1937,2,C6,605000,2017-08-28 00:00:00,"225 EAST 4TH STREET, 20,ALPHABET CITY","[40.7237738, -73.9830259]"
58,62,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2C,401,12,,C6,"504 EAST 6TH STREET, 1",...,0,-,-,1900,2,C6,799000,2017-05-31 00:00:00,"504 EAST 6TH STREET, 1,ALPHABET CITY","[40.7251233, -73.9835788]"
59,63,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2C,401,12,,C6,"504 EAST 6TH STREET, 5",...,0,-,-,1900,2,C6,800000,2017-07-12 00:00:00,"504 EAST 6TH STREET, 5,ALPHABET CITY","[40.7251262, -73.9835768]"
61,65,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,401,57,,C6,"513 EAST 5TH STREET, 3A",...,0,-,-,1929,2,C6,410000,2016-12-14 00:00:00,"513 EAST 5TH STREET, 3A,ALPHABET CITY","[40.7246915, -73.983584]"
62,66,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2C,402,47,,C6,"537 EAST 6TH STREET, 5",...,0,-,-,1900,2,C6,1475000,2017-05-03 00:00:00,"537 EAST 6TH STREET, 5,ALPHABET CITY","[40.7248791, -73.98210759999999]"
64,68,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,404,21,,C6,"534 EAST 11TH STREET, 21",...,0,-,-,1920,2,C6,490000,2017-08-07 00:00:00,"534 EAST 11TH STREET, 21,ALPHABET CITY","[40.7276432, -73.9803629]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,182,1,ALPHABET CITY,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,375,1105,,R1,753 EAST 5TH STREET,...,1,-,-,2003,2,R1,810000,2016-11-14 00:00:00,"753 EAST 5TH STREET,ALPHABET CITY","[40.7220619, -73.97743489999999]"
180,184,1,ALPHABET CITY,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,384,1007,,R1,211-213 EAST 2ND STREET,...,1,-,-,2005,2,R1,3035000,2017-04-20 00:00:00,"211-213 EAST 2ND STREET,ALPHABET CITY","[40.721654, -73.983125]"
182,186,1,ALPHABET CITY,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,394,1306,,R1,619 EAST 11TH ST.,...,1,-,-,0,2,R1,680000,2017-05-05 00:00:00,"619 EAST 11TH ST.,ALPHABET CITY","[40.72720839999999, -73.9783886]"
184,188,1,ALPHABET CITY,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,394,1408,,R1,643 EAST 11TH STREET,...,1,-,-,2006,2,R1,995000,2017-07-18 00:00:00,"643 EAST 11TH STREET,ALPHABET CITY","[40.726885, -73.9774703]"
185,189,1,ALPHABET CITY,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,405,1108,,R1,549 EAST 11TH STREET,...,1,-,-,0,2,R1,494500,2017-08-04 00:00:00,"549 EAST 11TH STREET,ALPHABET CITY","[40.7277661, -73.97978499999999]"
186,190,1,ALPHABET CITY,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,406,1104,,R1,525 EAST 12TH STREET,...,1,-,-,2007,2,R1,1875000,2017-05-15 00:00:00,"525 EAST 12TH STREET,ALPHABET CITY","[40.728772, -73.97999999999999]"
187,191,1,ALPHABET CITY,16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT,2C,384,1301,,R8,209 EAST 2ND STREET,...,1,-,-,1900,2,R8,2700000,2017-07-31 00:00:00,"209 EAST 2ND STREET,ALPHABET CITY","[40.7218372, -73.9832871]"
188,192,1,ALPHABET CITY,16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT,2C,387,1001,,R8,67 AVENUE C,...,1,-,-,1951,2,R8,1500000,2017-06-07 00:00:00,"67 AVENUE C,ALPHABET CITY","[40.72283400000001, -73.980098]"
189,193,1,ALPHABET CITY,17 CONDO COOPS,2,389,1003,,R9,"99 AVENUE B, 2A",...,0,-,-,1900,2,R9,635000,2016-11-02 00:00:00,"99 AVENUE B, 2A,ALPHABET CITY","[40.7246911, -73.9813271]"
190,194,1,ALPHABET CITY,17 CONDO COOPS,2,389,1003,,R9,"99 AVENUE B, 3A",...,0,-,-,1900,2,R9,700000,2017-04-19 00:00:00,"99 AVENUE B, 3A,ALPHABET CITY","[40.7246911, -73.9813271]"
192,196,1,ALPHABET CITY,17 CONDO COOPS,2,389,1003,,R9,"99 AVENUE B, 6ED",...,0,-,-,1900,2,R9,1900000,2017-08-07 00:00:00,"99 AVENUE B, 6ED,ALPHABET CITY","[40.7318677, -73.8571116]"
193,197,1,ALPHABET CITY,17 CONDO COOPS,2,398,1102,,R9,"186 EAST 2ND STREET, 8",...,0,-,-,1920,2,R9,485000,2017-07-11 00:00:00,"186 EAST 2ND STREET, 8,ALPHABET CITY","[40.7225079, -73.9841737]"
194,198,1,ALPHABET CITY,17 CONDO COOPS,2,399,1002,,R9,"50 AVENUE A, 2D",...,0,-,-,1920,2,R9,1175000,2017-02-01 00:00:00,"50 AVENUE A, 2D,ALPHABET CITY","[40.7238123, -73.9847935]"
199,203,1,ALPHABET CITY,46 CONDO STORE BUILDINGS,4,384,1201,,RK,310 EAST HOUSTON STREET,...,1,-,-,2005,4,RK,10800000,2017-03-10 00:00:00,"310 EAST HOUSTON STREET,ALPHABET CITY","[40.7213743, -73.9829466]"
200,204,1,ALPHABET CITY,46 CONDO STORE BUILDINGS,4,397,1302,,RK,250 EAST HOUSTON STREET,...,1,-,-,1989,4,RK,52625000,2016-10-19 00:00:00,"250 EAST HOUSTON STREET,ALPHABET CITY","[40.7220942, -73.9848741]"
207,211,1,CHELSEA,01 ONE FAMILY DWELLINGS,1,772,29,,A4,231 WEST 22ND STREET,...,1,1588,5653,1900,1,A4,10,2017-01-30 00:00:00,"231 WEST 22ND STREET,CHELSEA","[40.7439852, -73.9969715]"
212,216,1,CHELSEA,02 TWO FAMILY DWELLINGS,1,769,49,,S2,218 WEST 20TH STREET,...,3,2150,4978,1920,1,S2,7750000,2017-04-17 00:00:00,"218 WEST 20TH STREET,CHELSEA","[40.74248, -73.9981307]"
214,218,1,CHELSEA,03 THREE FAMILY DWELLINGS,1,719,67,,C0,444 WEST 22ND STREET,...,3,2469,3725,1901,1,C0,8300000,2017-02-02 00:00:00,"444 WEST 22ND STREET,CHELSEA","[40.7463489, -74.0033643]"
227,231,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,770,53,,C1,222 WEST 21ST STREET,...,9,2029,8540,1920,2,C1,29400000,2016-11-10 00:00:00,"222 WEST 21ST STREET,CHELSEA","[40.74306500000001, -73.99781]"
241,245,1,CHELSEA,09 COOPS - WALKUP APARTMENTS,2C,717,70,,C6,"452 WEST 20TH, THIRD",...,0,-,-,1910,2,C6,700000,2016-12-23 00:00:00,"452 WEST 20TH, THIRD,CHELSEA","[40.745343, -74.004978]"
244,248,1,CHELSEA,09 COOPS - WALKUP APARTMENTS,2,719,36,,C6,"405 WEST 21ST STREET, 3F",...,0,-,-,1900,2,C6,550000,2017-01-27 00:00:00,"405 WEST 21ST STREET, 3F,CHELSEA","[40.7455956, -74.00262459999999]"
250,254,1,CHELSEA,09 COOPS - WALKUP APARTMENTS,2C,720,66,,C6,"438 WEST 23RD STREET, A",...,0,-,-,1900,2,C6,2575000,2017-08-25 00:00:00,"438 WEST 23RD STREET, A,CHELSEA","[40.746877, -74.00295299999999]"
259,263,1,CHELSEA,09 COOPS - WALKUP APARTMENTS,2,740,46,,C6,"326 WEST 17TH STREET, 2W",...,0,-,-,1910,2,C6,180000,2016-11-30 00:00:00,"326 WEST 17TH STREET, 2W,CHELSEA","[40.74192, -74.0024229]"
261,265,1,CHELSEA,09 COOPS - WALKUP APARTMENTS,2,740,47,,C6,"328 WEST 17TH STREET, 5E",...,0,-,-,1900,2,C6,1237500,2016-11-18 00:00:00,"328 WEST 17TH STREET, 5E,CHELSEA","[40.7419903, -74.0024894]"
262,266,1,CHELSEA,09 COOPS - WALKUP APARTMENTS,2,740,48,,C6,"330 WEST 17TH STREET, 4W",...,0,-,-,1900,2,C6,1300000,2017-06-19 00:00:00,"330 WEST 17TH STREET, 4W,CHELSEA","[40.742027, -74.00255]"
266,270,1,CHELSEA,09 COOPS - WALKUP APARTMENTS,2,741,41,,C6,"310 WEST 18TH STREET, 3A",...,0,-,-,1900,2,C6,560000,2017-06-19 00:00:00,"310 WEST 18TH STREET, 3A,CHELSEA","[40.742316, -74.0014209]"
267,271,1,CHELSEA,09 COOPS - WALKUP APARTMENTS,2C,742,57,,C6,"334 WEST 19TH STREET, PHB",...,0,-,-,1910,2,C6,2000000,2017-04-10 00:00:00,"334 WEST 19TH STREET, PHB,CHELSEA","[40.743271, -74.001865]"
268,272,1,CHELSEA,09 COOPS - WALKUP APARTMENTS,2,742,59,,C6,"338 WEST 19TH STREET, 1A",...,0,-,-,1920,2,C6,610000,2016-11-23 00:00:00,"338 WEST 19TH STREET, 1A,CHELSEA","[40.7433868, -74.0020286]"
270,274,1,CHELSEA,09 COOPS - WALKUP APARTMENTS,2C,743,6,,C6,"365 WEST 19TH STREET, 3R",...,0,-,-,1910,2,C6,1700000,2017-08-09 00:00:00,"365 WEST 19TH STREET, 3R,CHELSEA","[40.7439294, -74.0026407]"
272,276,1,CHELSEA,09 COOPS - WALKUP APARTMENTS,2,744,3,,C6,"360 WEST 21ST, 1A",...,0,-,-,1940,2,C6,441975,2016-12-27 00:00:00,"360 WEST 21ST, 1A,CHELSEA","[40.7448963, -74.0022396]"